


h2{
    color: #001180;
    text-align: center;
    border: black 5px solid;
    font-family:Loma
    font-size: 40px;
    padding: 25px;
}
label{
    color: #800022;
    font-family: "DejaVu Sans";
}
input{
    color: green;
    font-family: Ani;
    background-color: rgba(255, 255, 255, 0.92);
}
body{
    background-color: peachpuff;
}

