body{
    font-family: Dhurjati;
    background-color: #1eccd2;
    margin: o;
    padding: 0;
    display: flex;justify-content: center;
    align-items: center;
}
#form-container{
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    width: 400px;
}
.form-group{
    margin-bottom: 16px;
}
label{
    display: block;
    margin-bottom: 8px;
    font-weight: bolder;
}
buttton{
    background-color: #80000f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}
